@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #1e40af;
  --primary-color-darker: #312e81;
}

* {
  box-sizing: border-box;
  outline: 0;
  color: #111827;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 40%;
  margin: 50px auto;
  background: #94a3b879;
  backdrop-filter: blur(2px);
  padding: 20px;
  border-radius: 10px;
}

.btn-task{
  background-color: #312e81;
  color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

.btn-task:hover {
  background-color: #1e40af;
}

.done {
  background-color: #16a34a;
  color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
